body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #13bfc5;
  }
  
  header {
    background: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
  }
  
  section#services {
    padding: 20px;
    margin: 20px;
  }
  
  section#services article {
    background: #e2e2e2;
    margin-bottom: 10px;
    padding: 10px;
    border-left: 5px solid #333;
  }
  
  footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;

    #logo {
        max-width: 150px;
        margin: 0 auto;
        display: block;
      }
      
  }
  